@import '../../global.scss';

.menu{
    width: 1000px;
    height: 3rem;
    background-color: $highlights;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
    transition: all 1s ease;

    &.active{
        z-index: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 15px;
        font-weight: 300;
        color: white;

        li{
            margin-bottom: 25px;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 400;
            }
        }
    }
}