@import '../../global.scss';
.navbar {
    background-color: $backGround;
    color: $mainColor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 1s ease;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: center;
            .hamburguer{
                width: 32px;
                height: 25px;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
            
        }

        
        
    }
    &.active{
        background-color: $highlights;
        color: white;

        .hamburguer{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: #fff;
                    transform: rotate(-45deg);
                }

            }
        }
    }
   
}